.p{
    margin: 0;
}
.p1{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}
.p2{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.p3{
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
}